.matrix {
    float: left;
    border: 5px solid #999;
}

.cell {
    float: left;
    width: 18px;
    height: 18px;
    border: 1px solid #999;
    color: #fff;
}

.snake {
    background-color: red;
}

.wall {
    background-color: gray;
}

.food {
    background-color: green;
}
